<h2>Refine Selection</h2>
<ul *ngIf="products">
<li *ngFor="let option of products | productFeatures : ['volume', 'category', 'market', 'voltage']">
	<span class="option-header">{{option.label}}</span>
	<form>
		<li *ngFor="let value of option.values">
			<input id={{value}} 
			attr.data-option-label={{option.label}}
			type="radio"
			name={{option.label}}

			(click)="makeSelection($event)">
			{{value}}
		</li>
		<li>
			<input (click)="selectNone($event)" checked type="radio" name={{option.label}}>
			Any
		</li>
	</form>
</li>
</ul>
