
html, body {
	font-family: helvetica, arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 3000px;
}
#container {
	max-width: 1000px;
	margin: auto;
}

h1 {
	margin: 25px 0;
	color: black;
}

#content {
	margin: 0px; 
	padding: 0px;


}


#content {
	width: 100%;
	float: right;
	box-sizing: border-box;

}

#header {
	width: 100%;
	position: relative;

}

#header li {
	display: inline-block;
	list-style-type: none;
}

#header ul {
}
#tagline {
	margin: 0 0 25px 0;
	padding: 0;
}
#title {
	padding: 0;
	margin: 25px 0 0 0;
	color: black;
	font-size: 3em;
	display: inline-block;

}

#site-nav {	
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 20px;
}

#site-nav li {
	margin: 10px 0 10px 10px;
}

#cat-nav {

	margin: 0;
	padding: 0;


	}

#cat-nav li {
	margin: 60px 25px;
	color: white;
	font-size: 1.5em;
}

#subheading {
	-moz-transform: scaleX(-1);
	background-image: url('work.jpg');
	background-position: center;
	background-repeat: none;
	color: white;
	padding: 25px 20px;
	font-size: 2em;
	text-align: left;
}

#subheading h2 {
		-moz-transform: scaleX(-1);


}